In [1]:
x = 'Restart'
y = x.replace('r', '$')
print(y)
# all R is getting replaced (small and upper)

$esta$t

In [6]:
# only small case r should get replaced
# using logic

#type 1

x = 'Restart'
y = x[0] + x[1:].replace('r','$')
print(y)

# type 2

y = x[0] + x.replace('r','$')[1:]
print(y)

Resta$t
Resta$t

In [7]:
x = [1,2,3]
x[1] = 4
print(x)

[1, 4, 3]

In [9]:
y = (1,2,3)
y[1] = 4
print(y)

# TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [10]:
r = 'boy'
r[1] = 'n'
print(r)

# string are also immutable
#TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [38]:
x = [1,2,3]
y = tuple(x)

In [15]:
a =1
b=2

# to swap two variable value
a,b = b,a 
print(a, b)

2 1

In [16]:
a,b = (1,2)

print(a, b)

1 2

In [20]:
t = 12345, 12345.6, 'hello!'
print(t[0])
print(t)

# here, by default t variable becomes tuple

# tuple may be nested

u = t, (1,2,3)
print(u)

y= t + (1,2,3)
print(y)

#[0] = 8888 #not possible

12345
(12345, 12345.6, 'hello!')
((12345, 12345.6, 'hello!'), (1, 2, 3))
(12345, 12345.6, 'hello!', 1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [21]:
# set , ex: x = {}

x1 = {1,2,3}
x2 = {4,5,6}

x = [1,1,2,2,3,3]
set(x)

{1, 2, 3}

In [24]:
y = {1, 2.0, 'hello'}
x = {2.0, 3, None}
print(y)
print(x)

print(y & x)

{2.0}
{None, 2.0, 3}

In [48]:
# set union and intersection

x1 = {1,2,3,4}
x2 = {2,3,5,6}

print(x1 & x2) # intersection
print(x1 | x2) # union

{2, 3}
{1, 2, 3, 4, 5, 6}

In [53]:
print(x1.intersection(x2))
print(x1.union(x2))
print(x1.difference(x2))

{2, 3}
{1, 2, 3, 4, 5, 6}
{1, 4}

In [49]:
x1 = {1,2,3,4}
x2 = {2,3,5,6}

# to print values of x1 which is not there in x2
print(x1 - x2)

{1, 4}

In [32]:
y = {1,2,3}
#print(y[1]) - set can't be idexed, we need to convert into list and do it

x = list(y)
print(x[1])

2

In [35]:
print(12345 in range(10000))
print(1234 in range(10000))

False
True

In [36]:
import time
time.time()

1550374732.9969904

In [37]:
my_list = list(range(1000000))

In [41]:
print(2562 in my_list)
print(123454 in range(10000))
print(12345455 in range(10000))
print(12345455666 in range(10000))

True
False
False
False

In [40]:
tic = time.time()
toc = time.time()
print('Elapsed time: ', toc-tic)
# no time diff here it is fast

Elapsed time:  0.0

In [54]:
tic = time.time()

print(2562 in my_list)
print(123454 in my_list)
print(12345455 in my_list)
print(1234545566669898987987 in my_list)

toc = time.time()
print('Elapsed time: ', toc-tic)
# some time taken by list

True
True
False
False
Elapsed time:  0.05211067199707031

In [46]:
my_tuple = tuple(range(1000000))

In [56]:
tic = time.time()

print(2562 in my_tuple)
print(123454 in my_tuple)
print(12345455 in my_tuple)
print(1234545566669898987987 in my_tuple)

toc = time.time()
print('Elapsed time: ', toc-tic)
# here tuple is faster than list, but this holds good for huge data. But for small set of data is id same time taken

True
True
False
False
Elapsed time:  0.045122623443603516

In [ ]:
# set is faster than tuple

In [58]:
# Dictionary
d = {'cat': 'cute', 'dog':'furry'}

print(d['cat'])
print(d['dog'])

cute
furry

In [60]:
print(d.keys())

dict_keys(['cat', 'dog'])

In [62]:
print(d.values())

dict_values(['cute', 'furry'])

In [63]:
print(d.items())

dict_items([('cat', 'cute'), ('dog', 'furry')])

In [65]:
print('cat' in d)
print('man' in d)

True
False

In [67]:
d['fish'] = 'wet'
print(d.items())

dict_items([('cat', 'cute'), ('dog', 'furry'), ('fish', 'wet')])

In [ ]:
print(d['money']) # keyError

In [69]:
print(d.get('monkey', 'monkey is not there'))

monkey is not there

In [70]:
print(d.get('fish','fish is there - no print'))

wet

In [71]:
print(d)

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [72]:
del d['fish'] # to remove an element in dictionary
print(d)

{'cat': 'cute', 'dog': 'furry'}

In [74]:
#del d['cat','dog'] 
# ??? how to delete multiple keys

KeyError: ('cat', 'dog')

In [78]:
d = {'person':2,
    'cat':4,
    'sprider':8,
     'person':4}
print(d)

# here 'person' is duplicate so take latest value

{'person': 4, 'cat': 4, 'sprider': 8}

In [79]:
d = {'person':2,
    'cat':4,
    'sprider':8}

for i in d:
    legs = d[i]
    print('A %s has %d legs' % (i,legs))
    
# %s is for string parameters and %d is for numbers

A person has 2 legs
A cat has 4 legs
A sprider has 8 legs

In [80]:
d = {'person':2,
    'cat':4,
    'sprider':8}

for animal, legs in d.items():
    print('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A sprider has 8 legs

In [83]:
ls = ['a', 'b', 'c', 'd', 'e']

# now to print index and value of the list given above

for i,j in enumerate(ls):
    print(i,j)

0 a
1 b
2 c
3 d
4 e

In [85]:
ls = ['a', 'b', 'c', 'd', 'e']

# now to print index and value of the list given above

for i,j in enumerate(ls):
    print(i,j*i)

0
1 b
2 cc
3 ddd
4 eeee

In [86]:
ls = ['a', 'b', 'c', 'd', 'e']
ls1 = [10,20,30,40,50]

# output based logic, print ls as key and ls1 as value with index

for i,j in enumerate(ls):
    print(j , ls1[i])

a 10
b 20
c 30
d 40
e 50

In [87]:
# zip funtion as above

list(zip(ls,ls1))

[('a', 10), ('b', 20), ('c', 30), ('d', 40), ('e', 50)]

In [89]:
list(zip(ls1,ls,ls1))

[(10, 'a', 10), (20, 'b', 20), (30, 'c', 30), (40, 'd', 40), (50, 'e', 50)]

In [90]:
for i,j in zip(ls1,ls):
    print(i,j)

10 a
20 b
30 c
40 d
50 e

In [91]:
print(list(zip(ls1,ls,ls1)))

[(10, 'a', 10), (20, 'b', 20), (30, 'c', 30), (40, 'd', 40), (50, 'e', 50)]